.main{
   
    font-family: 'Source Sans Pro';
    width: fit-content;
    

}
.flex-container{
    flex-direction: column;
    justify-content:center;
    padding: 20px;
    margin: auto;
    width: 728px;
    height: 1989px;
    top: -799px;
  
}



.a{
   
    font-family: 'Source Sans Pro', sans-serif;
    image-resolution: 20px;
    display: flex;
    justify-content: space-between;
    border-bottom: #adadad solid 1px;

    
    
}
.a img{
    border-radius: 50%;
    height: 50px;
    width: 50px;
   
}
.b{
    font-style: italic;
    font-size: 15px;
    display:flex;
    justify-content:flex-start;

   
}
.b img{
    border-radius: 50%;
    height: 40px;
    width: 40px;
    margin: 15px;
    
}


.icons {
    margin: 20px 3px 10px 10px;
    width: 25px;
    margin-bottom: 0;
    display: flex;
}

        
   
   .icons:hover {
    background-color: blue;
} 
